@model WebApplication2.Models.Student


@{
    ViewData["Title"] = "Create";
}

<h2>create</h2>
<div class="row">
    <div class="col-md-4" id="div.test">
    
        <form asp-action="Create" id="Student" name="Student"  method="post">


            <div class="form-group">
                <label asp-for="Name" class="control-label"  >Full Name</label>
                <input asp-for="Name" class="form-control"  id="text_name" name="name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control"  id="text_email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                <input asp-for="Address" class="form-control"id="text_address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label">Telephone</label>
                <input asp-for="Telephone" class="form-control"  id="text_telephone" />

            </div>

            <div class="form-group">
                    
            <div id="Render"></div>
            <div id="show"></div>
       
                <button type="button" class="btn btn-default" name="btnShow"  >Submit</button>
               
                <button type="button" class="btn btn-default" name="btnAdd" >Save</button>
            </div>
            </form>
            </div>
    </div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*// Pass param to Controler*@
@*<script>
    $(document).ready(function () {
         
        $("button[name=btnShow]").click(function () {
            $("#Render").load('/Student/Index');
           
        });
      


        $("button[name=btnAdd]").click(function () {

            //    //get value from input
            //var name = $("#text_name").val();
            //var email = $("#text_email").val();
            //var address = $("#text_address").val();
            //var phone = $("#text_telephone").val();
            //alert("name :" + name + "\n" +
            //    "email :" + email + "\n" +
            //    "address :" + address + "\n" +
            //    "phone :" + phone);
           
            var object = {};
           
            //Get value from input by name
            var name = $("input[name~='name']").val();

           //Get value from input by id  
           var email = $("#text_email").val();
            var address = $("#text_address").val();
                var phone = $("#text_telephone").val();

            ////object = {
                
            ////        name: name,
            ////        email: email,
            ////        address: address,
            ////        phone: phone
            ////};
            ////data: { data: JSON.stringify(object.data) };
           
            $.ajax({
                url: "/Student/Add",
                data: {
                    name: name,
                    email: email,
                    address: address,
                    phone: phone
                },
                type: "POST",   
                dataType: 'json',
                success: function (data) {
                    $("#show").load('/Student/Index');
                   
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });  

        
            
            
        });
      });
       
    
    
    </script>*@
    @*// pass model to controller*@
<script>
    $(document).ready(function () {

        $("button[name=btnShow]").click(function () {
            $("#Render").load('/Student/Index');

        });

        $("button[name=btnAdd]").click(function () {
            var Student = {};

            //Get value from input by name
            var name = $("input[name~='name']").val();

            //Get value from input by id  
            var email = $("#text_email").val();
            var address = $("#text_address").val();
            var phone = $("#text_telephone").val();

            student = {
                name: name,
                email: email,
                address: address,
                telephone: phone
            }

            
            $.ajax({
                url: "/Student/Add",
                data: student,
                type: "POST",
                dataType: 'json',
                success: function (data) {
                    $("#show").load('/Student/Index');

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });




        });
    });


    </script>

    
}

